input[type="radio"], input[type="checkbox"] {
	appearance: none;
	background-color: #fff;
	margin: 0;
	color: #2e2e2e;
	width: 1.15em;
	height: 1.15em;
	border: 0.1em solid #2e2e2e;
	border-radius: 5px;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
	margin-top: 2px;
}

input[type="radio"]::before, input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: .2em;
    background-color: #2e2e2e;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #292929;
  }

input[type="radio"]:checked::before, input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="text"] {
	border: 1px solid #2e2e2e;
	border-radius: 5px;
	margin-bottom: 1em;
	text-indent:5px;
}

input[type="text"]:focus {
  outline-width: 0;
	border-color: #3d3d3d;
}

.map__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    width: 75%;
    height: 100vh;
    overflow-y: hidden;
}

#heatMapbutton {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 100px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
  }
  


#dataForm{
  display: none;
  position: absolute;
  top: 20px;
  right:20px;
  z-index: 1;
}

.form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.form-group label {
  padding-bottom: 3px;
}


#showHeatmap,
#hideHeatmap {
  position: absolute; /* Change from absolute to relative */
  background: #fff;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
  width: 90%; /* Adjust width */
  margin: 8px 10px 8px 10px;
  
}


#showHeatmap:hover,
#hideHeatmap:hover,
#heatMapbutton:hover {
  background: rgb(14, 73, 137);
  color: #fff;
}